__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.coverage
htmlcov/
mutants/

.tmp/*
!.tmp/.gitkeep
docs/assets/datasets/*_candidates_auto.json

.env
.venv/
.mypy_cache/
.ruff_cache/
.tmp

Thumbs.db
.DS_Store
